/* Prevent code blocks from breaking inside words */
.md-typeset code {
    word-break: normal; /* don't break inside words */
}

/* Remove bottom margin from h1 elements and center them */
.md-typeset h1 {
    margin-bottom: 0em;
    text-align: center;
}

/* Center images with the "center" class */
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Adjust the width of the secondary sidebar -> table of contents */
.md-sidebar--secondary {
    width: 22%;
}

/* make h2 underlined */
.md-typeset h2 {
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 0.3em;
}

/* make h3 italic and bigger */
.md-typeset h3 {
    font-style: italic;
    font-size: 1.4em;
}
